<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Цитата</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container mt-5">
        <!-- Кнопка для отправки POST-запроса и получения новой цитаты -->
        <form method="POST">
            <button type="submit" class="btn btn-primary">Получить цитату о счастье</button>
        </form>

        <!-- Отображение цитаты, если она получена -->
        <div class="result text-center">
            {% if quote %}
            <h2>Цитата о счастье:</h2>
            <p>{{ quote['quote'] }}</p>
            <p>Автор: {{ quote['author'] }}</p>
            {% endif %}
        </div>
    </div>

    <!-- Bootstrap JS и зависимости -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
</body>

</html>